.gitattributes      eol=lf
.clang-format       eol=lf
.gitmodules         eol=lf
.gitignore          eol=lf

LICENSE     eol=lf
Makefile    eol=lf

*.md        eol=lf
*.txt       eol=lf
*.xml       eol=lf
*.yml       eol=lf
*.json      eol=lf
*.cmake     eol=lf
*.ninja     eol=lf

*.s         eol=lf
*.h         eol=lf
*.h         eol=lf
*.in        eol=lf
*.cpp       eol=lf
*.hpp       eol=lf
